<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- SqlSession --> 
	<!-- name의 dataSources는 sqlSession Bean 에서 사용할 이름이고, ref의 dataSource는 context-datasource.xml에 정의한 Bean을 참조 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" /> 
		<property name="mapperLocations" value="classpath:/mapper/**/*_sql.xml" />
	</bean>
	
	<!-- MyBatis와 Spring 연동 모듈의 핵심 부분 -->
	<!-- sqlSessionTemplate는 sqlSession을 구현하고 코드에서 sqlSession을 대체하는 역할을 한다. -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> 
		<constructor-arg index="0" name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean>

</beans>
